<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="navbar-brand mx-auto" ng-click="/home">
    <img src="../../../../assets/images/logos/FinalFondoTransSinTexto.png" width="50" height="50" class="d-inline-block align-top" alt="">
  </div>
  
  <div *ngIf="isLogin" class="navbar-brand icon" (click)="delog()">
    <img src="../../../../assets/images/icons/32px/png/021-user.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </div>
  <div *ngIf="!isLogin" class="navbar-brand icon" (click)="log()">
    <img src="../../../../assets/images/icons/32px/png/022-arrow.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </div>
</nav>